body {
    margin: 0; 
    padding : 0; 
    max-width: 100%;
    background-color: rgb(20, 33, 61, 1);
}

/*nav*/

.logo {
   margin-right: 800px;
   margin-left: 100px;
}

.top-nav {
    height: 100px;
    width: 100%;
    color: white;
    color: #FCA311;
}

.nav-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: space-around;
}

.list-items {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 600;
    font-size: 20px; 
    padding : 10px ;
    margin-left: 10px;  
    margin-right: 50px;
    margin-top: 40px;
    list-style: none;
}

.list-items:hover {
    color: rgb(20, 33, 61, 1);
}

a {
    text-decoration: none;
    padding : 10px ; 
    margin-left: 10px;
}

/* blank */

.blank {
    width: 100%;
    height: 100px;
    background-color: white;
}

/*header*/

.header {
    padding-top: 50px; 
    padding-bottom: 50px;
    width: 100%;
    height: 150px;
    background-color: rgb(20, 33, 61, 1);
    color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

h3 {
    font-weight: 100;
}

.homepage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 100;
    animation: homepage 5s infinite;
    animation-delay: calc(.1s * var(--i));
}

hr {
   
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    margin-left: 0px;
    width: 300px;
    
}

@keyframes homepage {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-50%)
    }
}
/*image*/

.image {
    width: 100%;
    height: 800px;
    object-fit:cover;
}

/*footer*/

footer {
    width: 100%;
    height: 6rem;
    background-color: rgb(20, 33, 61, 1);
    color: white;
    margin-bottom: 50px;
}

.footer-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
}


.footer-text {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-items1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 100;
    font-size: 20px; 
    padding : 10px ;
    margin-left: 10px;  
    margin-right: 50px;
    margin-top: 30px;
    list-style: none;
}

.list-items1:hover {
    color: white;
}

/*about*/
.about {
    width: 100%;
    height: 800px;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
   
}

.about:hover {

    background-image: url("https://images.unsplash.com/photo-1576584042024-53cc68e8c8d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    transition: all 1s ease-in;
    
}

.text-1 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 12, 12);
    font-weight: 500;
    font-size: 50px;
    animation: text-1 5s infinite;
    animation-delay: calc(.1s * var(--i));
}


.text-2 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 15, 72);
    font-weight: 300;
    font-size: 50px;
    animation: text-2 20s infinite;
    animation-delay: calc(.1s * var(--i));
}

.text-3 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 12, 12);
    font-weight: 700;
    font-size: 40px;
    animation: text-3 5s infinite;
    animation-delay: calc(.1s * var(--i));
}

.text-4 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 50px;
    animation: text-4 20s infinite;
    animation-delay: calc(.1s * var(--i));
}
.text-5 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 12, 12);
    font-weight: 500;
    font-size: 50px;
    animation: text-5 5s infinite;
    animation-delay: calc(.1s * var(--i));
}
.text-6 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(20, 33, 61, 1);
    font-weight: 500;
    font-size: 50px;
    animation: text-6 20s infinite;
    animation-delay: calc(.1s * var(--i));
}
.text-7 {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 50px;
    animation: text-7 5s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes text-1 {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
  }

  @keyframes text-2 {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  @keyframes text-3 {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
  }

  @keyframes text-4 {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
  }

  @keyframes text-5 {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
  }

  @keyframes text-6 {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  @keyframes text-7 {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
  }