body {
    margin: 0; 
    padding : 0; 
    max-width: 100%;
    background-color: rgb(20, 33, 61, 1);
}

/*nav*/

.logo {
   margin-right: 800px;
   margin-left: 200px;
}

.top-nav {
    height: 100px;
    width: 100%;
    color: white;
    color: #FCA311;
}

.nav-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: space-around;
}

.list-items {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 600;
    font-size: 20px; 
    padding : 10px ;
    margin-left: 10px;  
    margin-right: 50px;
    margin-top: 40px;
    list-style: none;
}

.list-items:hover {
    color: rgb(20, 33, 61, 1);
}

a {
    text-decoration: none;
    padding : 10px ; 
    margin-left: 10px;
}

/* blank */

.blank {
    width: 100%;
    height: 100px;
    background-color: white;
}

/*header*/

.header {
    padding-top: 50px; 
    padding-bottom: 50px;
    width: 100%;
    height: 150px;
    background-color: rgb(20, 33, 61, 1);
    color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

h3 {
    font-weight: 100;
}

.homepage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 100;
    animation: homepage 5s infinite;
    animation-delay: calc(.1s * var(--i));
}

hr {
   
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    margin-left: 0px;
    width: 300px;
    
}

@keyframes homepage {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-50%)
    }
}



/*footer*/

footer {
    width: 100%;
    height: 6rem;
    background-color: rgb(20, 33, 61, 1);
    color: white;
    margin-bottom: 50px;
}

.footer-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
}


.footer-text {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-items1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCA311;
    font-weight: 100;
    font-size: 20px; 
    padding : 10px ;
    margin-left: 10px;  
    margin-right: 50px;
    margin-top: 30px;
    list-style: none;
}

.list-items1:hover {
    color: white;
}

/* Favorites */

.Favorites {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
   
}

/*background favorites*/

.Favorites {
    width: 100%;
    height: 1100px;
    background-color: #FCA311;
   
}

.item1 {
    margin-left: 50px;
    margin-top: 20px;
    z-index: 2;
}

.item1:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item2 {
    margin-top: 20px; 
    margin-left: 50px; 
}

.item2:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item3 {
    margin-top: 20px; 
    margin-left: 50px; 
}

.item3:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item4 {
    margin-left: 50px; 
}

.item4:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);}

.item5 {
    margin-left: 50px; 
}

.item5:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item6 {
    margin-left: 50px; 
}

.item6:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item7 {
    margin-left: 50px; 
}

.item7:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item8 {
    margin-left: 50px;  
}

.item8:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.item9 {
    margin-left: 50px; 
}

.item9:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

img {
    object-fit: fill;
    
}